.changePassword__container{
    background: linear-gradient(135deg, #FFFFFF, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.changePassword__innercontainer {
    text-align: center;
    width: 626px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.h4__changePassword{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #02344F;
}

.changePassword__form{
    display: inline-block;
    text-align: start;
    
}
.changePassword__text__area{
    align-content: center;
    border-radius: 6px;
    margin-bottom: 20px;
    /* width:100%; */
    height:44px;
    width: 304px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid #02344F;
    margin-top: 5px;
    position: relative;
}

.code__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.changePassword__code__area {
    align-content: center;
    height: 44px;
    width: 50px;
    border: 1px solid #02344F;
    border-radius: 6px;
    padding-left: 7px;
    padding-right: 7px;
}

.changePassword__code__input {
    text-align: center;
    font-family: 'Montserrat regular';
    font-size: 25px;
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
}

.changePassword__eye__closed {
    position: absolute;
    top: 30%;
    right: 8%;
    cursor: pointer;
}

.changePassword__text__input, .changePassword__text__input:focus{
    /* margin-left: 1rem; */
    font-family: 'Montserrat regular';
    font-size: 16px;
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
}

.changePassword__btn{
    margin-top: 20px;
    width: 304px;
    height:44px;
    border-radius: 6px;
    background: #F04A00;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 hsla(260, 14%, 91%, 0.7), 0 6px 20px 0 rgba(228, 223, 235, 0.9);
    cursor: pointer;
}

.changePassword__changePassword{
    display: inline-block;
    background: #FFFFFF;
    width: 495px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.10);
    padding-top: 10px;
    padding-bottom: 10px;

}


.changePassword__label{
    font-size: 16px;
    border: none;
    width: 80%;
}

.changePassword__error__message {
    min-height: 44px;
    width: 304px;
    background-color: #ffb3b3;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.changePassword__error__message p {
    margin: 0;
}