.top__header__enlistee_details__container{
    height: 185px;
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    background-color: #F8F9FA;
}
.fileupload__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); */
    padding-top: 30px;
    padding-bottom: 30px;
}

.file__drag__and__drop__container {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 74, 0, 0.2);
}

.file__drag__and__drop__innercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
}

.browse__file {
    color: #F04A00;
    font-weight: bold;
    cursor: pointer;
}

.file__text {
    font-size: 16px;
    margin-top: 20px;
}

.drag__over {
    border: 2px solid #F04A00;
}

.file__name {
    display: flex;
    align-items: center !important;
    margin-top: 20px;
    width: 281px;
    margin-bottom: 20px;
}

.file__name div {
    margin-left: 10px;
}

.filename__to__add {
    width: 281px;
}

.filename {
    border: 0.6px solid #02344F;
    border-radius: 6px;
}

.button__container {
    display: flex;
    justify-content: space-between;
    width: 281px;
    margin-top: 20px;
}

.reset__button {
    border-color: #F04A00 !important;
    color: #F04A00 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 125px;
}

.upload__button {
    background-color: #F04A00 !important;
    color: white !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 125px;
    border: none !important;
}

.reset__button.no-hover:hover {
    background-color: rgba(240, 74, 0, 0.2);
    color: initial;
    border-color: initial;
  }

  .reset__button.no-hover:active {
    background-color: transparent !important;
  }