.card-img-top {
    border-radius: 50%;
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    padding: 10px;

  }

  .container {
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .ProfilePic{
    background: linear-gradient(135deg, #FFFFFF, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
  }

  
  
 
  .changepw {
    text-decoration: none; /* Remove underline */
    color: inherit; 
    position: relative;

  }

  .overviewP{
    text-decoration: none; /* Remove underline */
    color: inherit; 
    position: relative;
  }
  
 .changepw::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #F04A00; 
    bottom: -12px;
    left: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  
.card-body {
    border-style: none;

}

.Card {
    border-style: none;
}

#Picture {
    border-style: none;
}

.currentPassword__container{
  background: linear-gradient(135deg, #FFFFFF, #FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.currentPassword__innercontainer {
  text-align: center;
  width: 626px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.h4__currentPassword{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #02344F;
}

.currentPassword__form{
  display: inline-block;
  text-align: start;
  
}
.currentPassword__text__area{
  align-content: center;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 15px;

  /* width:100%; */
  height:40px;
  width: 354px;
  padding-left: 7px;
  padding-right: 70px;
  border: 1px solid #02344F;
  position: relative;
}

.code__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.currentPassword__code__area {
  align-content: center;
  height: 44px;
  width: 50px;
  border: 1px solid #02344F;
  border-radius: 6px;
  padding-left: 7px;
  padding-right: 7px;
}

.currentPassword__code__input {
  text-align: center;
  font-family: 'Montserrat regular';
  font-size: 25px;
  border:none;
  outline: none;
  width: 100%;
  height: 100%;
}

.currentPassword__eye__closed {
  position: absolute;
  top: 30%;
  right: 8%;
  cursor: pointer;
}

.currentPassword__text__input, .currentPassword__text__input:focus{
  /* margin-left: 1rem; */
  font-family: 'Montserrat regular';
  font-size: 16px;
  border:none;
  outline: none;
  width: 100%;
  height: 100%;
}

.setPassword_btn{
  align-content: center;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 250px;

  /* width:100%; */
  height:40px;
  width: 354px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 6px;
  background: #F04A00;
  border: none;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 hsla(260, 14%, 91%, 0.7), 0 6px 20px 0 rgba(228, 223, 235, 0.9);
  cursor: pointer;
  position: relative;
}

.currentPassword__currentPassword{
  display: inline-block;
  background: #FFFFFF;
  width: 495px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.10);
  padding-top: 10px;
  padding-bottom: 10px;

}


.currentPassword__label{
  font-size: 16px;
  border: none;
  width: 100%;
  margin-top: 15px;

}

.currentPassword__error__message {
  min-height: 40px;
  width: 304px;
  background-color: #ffb3b3;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.currentPassword__error__message p {
  margin: 0;
}