.drop-zone {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  .preview-image{
    border: 1px solid #ccc;
    height: 200px;
  }
  .arrow-btn {

    background-color: white !important;
    color: #F04A00 !important;
    border: 1px solid #F04A00 ;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .arrow-btn:hover {
      background-color: #F04A00 !important;
      color: white !important;
  }