.arrow-icon {
    /* position: absolute; */
    top: 50%;
    right: 10px; /* Adjust the right spacing as needed */
    transform: translateY(-50%);
}
.custom-radio input[type='radio'] {
    display: none;
}

.custom-radio .radio-label {
    width: 24px; /* Adjust width to make the radio button bigger */
    height: 24px; /* Adjust height to make the radio button bigger */
    border: 2px solid #F04A00; /* Border color */
    border-radius: 50%; /* Creates the donut shape */
    position: relative;
    cursor: pointer;
}

.custom-radio input[type='radio']:checked + .radio-label::after {
    content: '';
    width: 10px; /* Size of the inner circle */
    height: 10px; /* Size of the inner circle */
    background-color: #F04A00; /* Color of the inner circle */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}