.top__header__enlistee_details__container{
    height: 185px;
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    background-color: #F8F9FA;
}
.out__text__container{
    top: 100;
    margin-top: 115px;
}