.enlistee__container {
  position: fixed;
  top: 70px;
  left: 50;
  height: 100px;
  width: 100%;
  background-color: #fff;
  display: flex;
  }
  .enlistee__detail{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
  }
  .img__container{
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: #F04A00;
  }
  .text__container{
    width: 60%;
    height: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner__container {
    text-align: center;
  }

  @media (min-width: 1280px) {
    .enlistee__detail {

      text-align: center;
      justify-content: center;
      width: 25%;
    }
    .img__container{
      height: 100%;
      width: 40%;
    }
    .text__container {
      width: 60%; 
      height: 100%;
    }
  }