.login__container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login__innercontainer {
    text-align: center;
    width: 626px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h4__welcome{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #02344F;
}

.login__form{
    display: inline-block;
    text-align: start;
}
.login__text__area{
    align-content: center;
    border-radius: 6px;
    margin-bottom: 15px;
    /* width:100%; */
    height:44px;
    width: 304px;
    padding-left: 7px;
    padding-right: 7px;
    border: 1px solid #02344F;
    margin-top: 5px;
    position: relative;
}

.login__error__message {
    min-height: 44px;
    width: 304px;
    background-color: #ffb3b3;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login__error__message p {
    margin: 0;
}

.login__eye__closed {
    position: absolute;
    top: 30%;
    right: 8%;
    cursor: pointer;
}

.login__text__input{
    /* margin-left: 1rem; */
    font-family: 'Montserrat regular';
    font-size: 16px;
    border:none;
    outline: none;
    width: 100%;
    height: 100%;
}

.login__btn{
    margin-top: 40px;
    width: 304px;
    height:44px;
    border-radius: 6px;
    background: #F04A00;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 hsla(260, 14%, 91%, 0.7), 0 6px 20px 0 rgba(228, 223, 235, 0.9);
    cursor: pointer;
    margin-bottom: 20px;
}

.login__login{
    display: inline-block;
    background: #FFFFFF;
    width: 495px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.10);
    padding-top: 10px;
    padding-bottom: 10px;
}

.login__link{
    color: #0707e4;
    font-size: 12px;
}

.login__label{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 16px;
    border: none;
    width: 80%;
}

.affirmation__Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: -12px;
}

.login__remember__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.affirmation__Container .login__remember {
    font-size: 12px;
    margin-left: 5px;
}