
.header__container {
    position: fixed;
    top: 0;
    left: 100;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: flex-end;
    margin-left: -15px;
    margin-right: 30px;
  }
  
  .profile__container {
    display: inline-block;
    align-items: center;
    padding: 10px;
    margin-right: 24px;

  }
  
  .profile__container img {
    width: 40px; 
    height: 40px; 
    margin-right: 20px;
  }
  
  .profile__container h5 {
    margin: 0;
  }

.profile__admin {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F04A00;
  color: white;
  font-weight: bold;
  margin-left: 15px;
}
  